---
layout: default
title: Glacier Protocol &gt; home
section_id: home

features:
  -
    - title: Self-managed storage
      icon: layout
      desc:
        Glacier does not depend on online wallets or any other third parties.  Your bitcoins are entirely within your control.
    - title: Cold storage
      icon: layout
      desc:
        The electronic keys that secure your bitcoins are created and stored entirely offline, making them virtually invulnerable to electronic theft.
    - title: Multisignature security
      icon: layout
      desc:
        Multiple keys are required to access your bitcoins, greatly reducing the risk of loss due to physical theft or destruction of keys.
  -
    - title: Trustworthy
      icon: layout
      desc:
        Glacier makes heavy use of well-secured software such as Bitcoin Core, and the Glacier’s own software is limited in scope and open source for public review.  The project also has reputable security advisors guiding its development.
    - title: Free of charge
      icon: layout
      desc:
        Glacier is an open source project provided at no cost to the Bitcoin community.
    - title: Costly
      icon: layout
      desc:
        Glacier is intended for security-critical scenarios, not everyday use.  The protocol requires several hours and several hundred dollars of equipment to execute.

developers:
  - image: james-hogan.jpg
    name: James Hogan
    contact: mailto:james@glacierprotocol.org
    linkedin: https://www.linkedin.com/in/jameshogan42

  - image: jacob-lyles.jpg
    name: Jacob Lyles
    contact: mailto:jacob@glacierprotocol.org
    linkedin: https://www.linkedin.com/in/jacob-lyles-17b9b611

advisors:
  - image: advisors/philip-martin.jpg
    name: Philip Martin
    position: Director of Security, <a href="https://www.coinbase.com/">Coinbase</a>
    linkedin: https://www.linkedin.com/in/philipmmartin/

  - image: advisors/glenn-willen.jpeg
    name: Glenn Willen
    position: Infrastructure Tech Engineer, <a href="http://www.blockstream.com/">Blockstream</a>
    linkedin: https://www.linkedin.com/in/gwillen/

  - image: advisors/arthur-breitman.png
    name: Arthur Breitman
    position: Founder, <a href="https://www.tezos.com/">Tezos</a>
    linkedin: https://www.linkedin.com/in/arthurbreitman/

  - image: advisors/paul-bohm.jpg
    name: Paul Bohm
    position: Network Economist
    linkedin: https://www.linkedin.com/in/paulbohm/

---


<div class="full glacier-blue">
	<ul id="glacier-banner" class="orbit-slides-container slide">
        <div class='orbit-caption caption-center'>
          <div class='row'>
            <div class='large-12 columns right'>
              <h2>Glacier is a step-by-step protocol for high-security bitcoin storage.
              </h2>
              <h3 style="font-size: 1.5em;">No technical expertise required.</h3>
              <div class='spacing'></div>
			  <a class='button boxed' href="{{site.url}}/releases/Glacier\ Protocol\ Document\ v0.1\ Alpha.pdf"><strong>Read the Glacier Protocol</strong></a>
            </div>
          </div>
        </div>
  </ul>
</div>

<div class='full white'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Key Features</h2>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.features %}
    <div class="row">
      {% for feature in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{feature.icon}}'></i>
          <h3 class="feature-heading">{{feature.title}}</h3>
          <p>{{feature.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>

<div class='full light-yellow'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-users'></i>
      <h2>The team</h2>
      <p>Glacier is a community-driven open-source project. <a href="{{site.url}}/contribute.html">New contributors are welcome.</a></p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
  </div>
</div>


<div class='members'>
  <div class='full light-yellow no-padding'>
    <div class='row' style="text-align: center;">
      <h2>Developers and Maintainers</h2>
      <div style="text-align: center">
        <div class="team-row">
        {% for developer in page.developers %}
          <div class='medium-4 large-4 column' style="float: none; display: inline-block; vertical-align: top; margin: 0px 40px;">
            <div class='member centered-text' data-target='#member-{{forloop.index}}'>
              <img src='{{site.url}}/images/{{developer.image}}' style="height: 150px; width: 150px;">
              <h3>{{developer.name}}</h3>
              <p><a href="{{developer.contact}}">contact</a>, <a href="{{developer.linkedin}}">Linkedin</a></p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class='row' style="text-align: center;">
      <h2 style="margin: 20px; ">Security Advisors</h2>
        {% for advisor in page.advisors %}
          <div class='medium-3 large-3 column'>
            <div class='member centered-text' data-target='#member-{{forloop.index}}'>
              <img src='{{site.url}}/images/{{advisor.image}}' style="height: 150px; width: 150px;">
              <h3>{{advisor.name}}</h3>
              <p class='position'>{{advisor.position}}</p>
              <p><a href="{{advisor.linkedin}}">Linkedin</a></p>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
