---
layout: default
title: Services
section_id: services
services:
  -
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color:
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color:
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color:
  -
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
  -
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Our services</h2>
      <p>We are passionate about web design &amp; development</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>