<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In touch with us</h2>
        <p>We are happy to talk to you, est unde inventore sed amet est in voluptas cum ipsa ut sunt minus. Nihil quia et omnis blanditiis eius suscipit quos repudiandae.</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <div class='medium-6 large-6 columns'>
        <input placeholder='NAME' type='text'>
        <input placeholder='EMAIL' type='text'>
        <input placeholder='SUBJECT' type='text'>
      </div>
      <div class='medium-6 large-6 columns'>
        <textarea placeholder='MESSAGE'></textarea>
        <input class='button white' type='submit'>
      </div>
    </div>
  </div>
</div>