<!DOCTYPE html>
<html class='no-js' lang='en'>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <meta property="og:image" content="https://glacierprotocol.org/images/glacier-icon-fb.png" />
      <meta property="og:description" content="Glacier is a step-by-step protocol for high-security bitcoin storage.">
      <meta property="og:title" content="Glacier Protocol">

      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@GlacierProtocol">
      <meta name="twitter:creator" content="@GlacierProtocol">
      <meta name="twitter:title" content="Glacier Protocol">
      <meta name="twitter:description" content="Glacier is a step-by-step protocol for high-security bitcoin storage.">
      <meta name="twitter:image" content="https://glacierprotocol.org/images/glacier-logo-200.png">
      
      <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='{{ site.url }}/css/framework.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/syntax.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/style.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/fontello.css' rel='stylesheet'>

      <script src='{{ site.url }}/js/modernizr.js'></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91779256-1', 'auto');
        ga('send', 'pageview');
      </script>

	  <!-- ------------------ -->
	  <!-- favicon stuff here -->
	  <!-- ------------------ -->

	  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
	  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
	  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
	  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
	  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
	  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
	  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
	  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
	  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
	  <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
	  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
	  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	  <link rel="manifest" href="/images/favicon/manifest.json">
	  <meta name="msapplication-TileColor" content="#ffffff">
	  <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
	  <meta name="theme-color" content="#ffffff">

	  <!-- ----------- -->
	  <!-- end favicon -->
	  <!-- ----------- -->

    </head>
    <body>
      <div class='contain-to-grid sticky'>
        <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
          <ul class='title-area'>
            <li class='name'>
              <h1>
                <a href='/'><img src='{{site.url}}/images/glacier-logo-120.png' style="max-height: 80px;"></a>
              </h1>
            </li>
            <li class='toggle-topbar menu-icon'>
              <a href='#'>Menu</a>
            </li>
          </ul>
          <section class='top-bar-section'>
            <ul class="right">
              {% for item in site.data.nav %}
                {% if item.section_id == page.section_id %}
                  {% assign active_class = "active" %}
                {% else %}
                  {% assign active_class = "" %}
                {% endif %}

                {% if item.children %}
                  <li class="has-dropdown {{active_class}}">
                    <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                    <ul class='dropdown'>
                      {% for child in item.children %}
                        <li>
                          <a href="{{site.url}}/{{ child.path }}">{{ child.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="{{active_class}}">
                    <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </section>
        </nav>
      </div>


      {{ content }}

      <div class='footer centered-text'>
        <div class='spacing'></div>
        <div class='row'>
          <div class='large-12 columns'></div>
          <h1 class='light'>
            <img src='{{site.url}}/images/glacier-logo-120.png' style="max-height: 80px;">
            <br>
            <div class='spacing'></div>
          </h1>
		  <a href="https://twitter.com/glacierprotocol"><img src="{{site.url}}/images/twitter-icon.png" style="max-height: 32px; padding: 0px 10px;"/></a>
		  <a href="https://gitter.im/glacierprotocol/lobby"><img src="{{site.url}}/images/gitter-icon.png" style="max-height: 32px; padding: 0px 10px;"/></a>
          <div class='spacing'></div>
        </div>
      </div>

      <script src='{{ site.url }}/js/jquery.min.js'></script>
      <script src='{{ site.url }}/js/foundation.min.js'></script>
      <script src='{{ site.url }}/js/jquery.countTo.js'></script>
      <script src='{{ site.url }}/js/jquery.appear.js'></script>
      <script src='{{ site.url }}/js/app.js'></script>
    </body>
</html>
